<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>587500721766-u0egt1q2im18i9chduhmlf2fq0jdudbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587500721766-u0egt1q2im18i9chduhmlf2fq0jdudbm</string>
	<key>API_KEY</key>
	<string>AIzaSyCjJQyym7CZ1zl9eh1z3YSJ75aS4PrQsjU</string>
	<key>GCM_SENDER_ID</key>
	<string>587500721766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mnjpk.News-Reader</string>
	<key>PROJECT_ID</key>
	<string>news-reader-b6a43</string>
	<key>STORAGE_BUCKET</key>
	<string>news-reader-b6a43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587500721766:ios:40bdaf3c7c4abd91</string>
	<key>DATABASE_URL</key>
	<string>https://news-reader-b6a43.firebaseio.com</string>
</dict>
</plist>